@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

main {
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  main {
    height: calc(100vh - 65px);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    height: calc(100vh - 80px);
  }
}

@media (min-width: 1024px) {
  main {
    height: calc(100vh - 90px);
  }
}

header {
  max-width: 1280px !important;
  padding: 0 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}